// List
$cars: 'maserati', 'tesla', 'porsche';

// Each directive
@each $car-name in $cars {
  // String interpolation
  .car-#{$car-name} {
    background-image: url('https://s3.amazonaws.com/bottega-devcamp/scss/cars/#{$car-name}.jpg');
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    object-fit: fill;
    float: left;
  }
}

//each serves to take each value from a list. Our list is $cars composed by three cars. Dynamically gerneate the class names.
//STring interpolation --> Star with # and {}.
//You have to put the same #{$car-name} and put on the link